<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}  
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="content">
      
      {{ partial "header.html" . }}
      {{ .Content }}
      <div>
        <p>
          <b>Welcome to my page ~ 👋 </b>
        </p>
      <h1>Latest Blog</h1>
     
      </div>
      <section>
        {{ range (first 3 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
          <p>
            <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>&nbsp;
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>
        {{ end }}
      </section>
    </div>
  </main>
</body>
</html>